* {
    font-family: Poppins;
    background-color: darkblue !important;
    background: darkblue;
    color: white !important;
    text-decoration: none !important;
    border: none !important;
}

#subBut {
    background-color: white !important;
    color: darkblue !important;
    margin-top: 10px;
    position: absolute;
    padding: 10px;
    border-radius: 2%;
}
#subBut:hover {
    background-color: darkblue !important;
    border: 1px solid white !important;
    color: white !important;
    padding: 10px;
    border-radius: 2%;
}
